# Set the port for the server
WA_WEBHOOK_PORT=5000

# Set the PostgreSQL user
WA_WEBHOOK_POSTGRES_USER=wa-user

# Set the PostgreSQL password
WA_WEBHOOK_POSTGRES_PASSWORD=wa-password

# Set the name of the PostgreSQL database
WA_WEBHOOK_POSTGRES_DB=wa-webhook

# Set the events that the WhatsApp client will relay to webhooks
WA_WEBHOOK_EVENTS=auth_failure,authenticated,change_battery,change_state,disconnected,group_join,group_leave,group_admin_changed,group_membership_request,group_update,contact_changed,media_uploaded,message,message_ack,message_edit,unread_count,message_create,message_ciphertext,message_revoke_everyone,message_revoke_me,message_reeventCode,chat_removed,chat_archived,loading_screen,call,remote_session_saved,vote_update