<div class="flex flex-row mb-10">
    <div class="text-3xl mx-auto">Test sending a Message</div>
</div>

<div class="flex">
    <div class="mx-auto">
        <form class="flex flex-col gap-2 w-80" hx-post="/component/message-control" hx-target="#message-response"
              hx-validate>
            <label class="form-control w-full max-w-xs" for="from">
                <div class="label">
                    <span class="label-text">From:</span>
                </div>
                <input class="input input-bordered" id="from" maxlength="20" minlength="3" name="from" required
                       type="text" value="51900000000@c.us"/>
            </label>
            <label class="form-control w-full max-w-xs" for="message">
                <div class="label">
                    <span class="label-text">Message:</span>
                </div>
                <input class="input input-bordered" id="message" minlength="3" name="message" required type="text"/>
            </label>
            <div class="grid pt-4 pl-2 pr-2 justify-items-center">
                <input class="btn btn-primary w-full" type="submit" value="Send">
            </div>
        </form>
        <div class="pt-10" id="message-response">

        </div>
    </div>
</div>