<div class="flex flex-row mb-10">
    <div class="text-3xl mx-auto">Manage Webhooks</div>
</div>
<div class="flex flex-row">
    <div class="basis-1/3 flex flex-col items-center">
        <h1 class="text-3xl">Create:</h1>
        <form class="flex flex-col gap-2 items-end" hx-post="/component/webhook-control" hx-target="#webhook-response"
              hx-validate>
            <label class="form-control w-full max-w-xs" for="eventCode">
                <div class="label">
                    <span class="label-text">Event Code:</span>
                </div>
                <select class="select select-bordered w-full max-w-xs" id="eventCode" name="eventCode" hx-get="/component/event-options" hx-trigger="load">
                </select>
            </label>
            <label class="form-control w-full max-w-xs" for="postUrl">
                <div class="label">
                    <span class="label-text">Webhook URL:</span>
                </div>
                <input class="checkbox" id="postUrl" minlength="3" name="postUrl" required type="url"/>
            </label>
            <label class="form-control w-full max-w-xs" for="includeInfo">
                <div class="label">
                    <span class="label-text">Include Info:</span>
                </div>
                <input class="checkbox" id="includeInfo" name="includeInfo" type="checkbox"/>
            </label>
            <label class="form-control w-full max-w-xs" for="includeChat">
                <div class="label">
                    <span class="label-text">Include Chat:</span>
                </div>
                <input class="checkbox" id="includeChat" name="includeChat" type="checkbox"/>
            </label>
            <label class="form-control w-full max-w-xs" for="includeContact">
                <div class="label">
                    <span class="label-text">Include Contact:</span>
                </div>
                <input class="checkbox" id="includeContact" name="includeContact" type="checkbox"/>
            </label>
            <label class="form-control w-full max-w-xs" for="includeQuotedMessage">
                <div class="label">
                    <span class="label-text">Include Quoted Message:</span>
                </div>
                <input class="checkbox" id="includeQuotedMessage" name="includeQuotedMessage"
                       type="checkbox"/>
            </label>
            <label class="form-control w-full max-w-xs" for="includeOrder">
                <div class="label">
                    <span class="label-text">Include Order:</span>
                </div>
                <input class="checkbox" id="includeOrder" name="includeOrder" type="checkbox"/>
            </label>
            <label class="form-control w-full max-w-xs" for="includeGroupMentions">
                <div class="label">
                    <span class="label-text">Include Group Mentions:</span>
                </div>
                <input class="checkbox" id="includeGroupMentions" name="includeGroupMentions"
                       type="checkbox"/>
            </label>
            <label class="form-control w-full max-w-xs" for="includeMentions">
                <div class="label">
                    <span class="label-text">Include Mentions:</span>
                </div>
                <input class="checkbox" id="includeMentions" name="includeMentions" type="checkbox"/>
            </label>
            <label class="form-control w-full max-w-xs" for="includePayment">
                <div class="label">
                    <span class="label-text">Include Payment:</span>
                </div>
                <input class="checkbox" id="includePayment" name="includePayment" type="checkbox"/>
            </label>
            <label class="form-control w-full max-w-xs" for="includeReactions">
                <div class="label">
                    <span class="label-text">Include Reactions:</span>
                </div>
                <input class="checkbox" id="includeReactions" name="includeReactions" type="checkbox"/>
            </label>
            <input class="btn btn-primary mt-6 w-full" type="submit" value="Add Hook">
        </form>
    </div>
    <div class="basis-2/3">
        <form hx-get="/component/webhook-control" hx-target="#webhook-response" hx-trigger="load">
        </form>
        <div id="webhook-response"></div>
    </div>
</div>